# Test results
/coverage
/.nyc_output
*.lcov

# Node versions
/node_modules

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace

# Logs
*.log
